body {
    background-image: url("/static/img/repeated-square.png");
    color: rgba(10, 9, 8, 1);
    font-family: 'Della Respira', serif;
}

a {
    color: rgba(169, 146, 125, 1);
}

a:hover {
    color: rgba(94, 80, 63, 1);
}

a:active {
    color: rgba(94, 80, 63, 1);
}

h2 {
    color: rgba(34, 51, 59, 1);
    font-family: 'Macondo Swash Caps', cursive;
    font-weight: bold;
}

h3 {
    color: rgba(34, 51, 59, 1);
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 1.5rem;
    font-weight: bold;
}

#game {
    background-color: rgba(136, 187, 214, 0.5);
    margin: 60px;
    padding: 30px;
}

footer {
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 12;
}

#dungeon_img {
    max-height: 650px;
    vertical-align: middle;
}

#img_license {
    color: rgba(34, 51, 59, 1);
    font-size: 12;
    font-style: italic;
}

.btn-custom {
    background-color: #88bbd6;
    border-color: #88bbd6;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 5px;
}

.btn-custom:hover {
    background-color: rgba(169, 146, 125, 1);
    border-color: rgba(94, 80, 63, 1);
}

.btn-custom:active {
    background-color: rgba(169, 146, 125, 1);
    border-color: rgba(94, 80, 63, 1);
}

#access_flow_passthru {
    background-color: rgba(169, 146, 125, .6);
    font-family: 'Macondo Swash Caps', cursive;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}

.creds {
    padding-left: 10%;
}

#order {
    padding: 20px;
}

#monst_stats {
    padding: 10px;
}

.player {
    padding-bottom: 10px;
}

.monster {
    padding-bottom: 10px;
}

.stat_focus {
    background-color: rgba(169, 146, 125, .6);
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 2rem;
    font-weight: bold;
}

#damage_fields {
    background-color: rgba(169, 146, 125, .6);
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 3rem;
    font-weight: bold;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

.logo {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}
