<!doctype html5>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dungeons on Demand</title>
    <link rel="stylesheet" href="/static/whatever.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js" crossorigin></script>
  </head>
<body>
    <div id="game">
    </div>
  <br>
  <br>
<footer>
  Dungeons On Demand is a Yelling Viv Production, in cooperation with Hackbright Academy Labs. All rights reserved, all liabilities foisted on you, the person reading this. Goodnight, sweet prince, and a flight of angels sing thee to thy rest.
</footer>
</body>
<script src="/static/js/mainContainer.jsx" type="text/jsx"></script>
<!-- navbar component -->
<script src="/static/js/monsterList.jsx" type="text/jsx"></script>
<!-- player component -->
<!-- statistics component -->
<!-- initiative component -->
</html>
